<script>
    var _userid;
    var ClientName;
    var MCX_BRKG;
    var NSE_BRKG;
    var CDS_BRKG;

    var MCX_brokerage_per_crore;
    var Equity_brokerage_per_crore;
    var CDS_brokerage_per_crore;

    var BULLDEX_brokerage;
    var GOLD_brokerage;
    var SILVER_brokerage;
    var CRUDEOIL_brokerage;
    var COPPER_brokerage;
    var NICKEL_brokerage;
    var ZINC_brokerage;
    var LEAD_brokerage;
    var NATURALGAS_brokerage;
    var ALUMINIUM_brokerage;
    var MENTHAOIL_brokerage;
    var COTTON_brokerage;
    var CPO_brokerage;
    var GOLDM_brokerage;
    var SILVERM_brokerage;
    var SILVERMIC_brokerage;
    var losslimit;
    var LB;
    var CL;
    var AutoCloseAt;


    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    $(document).ready(function () {
        _userid = getParameterByName('userid');
     
     
        ClientName = getParameterByName("UserName");
        CL = getParameterByName("creditlimit");
        localStorage.setItem("userid" + _userid, _userid);
        localStorage.setItem("ClientName" + _userid, ClientName);
        localStorage.setItem("CreditLimit" + _userid, CL);
        getuserbalance1();
    });

</script>


<div style="height:500px">
    @{
        Html.RenderPartial("PartialViewPendingToActive_App");
    }
</div>